*{
 margin: 0;
 padding: 0;
 font-family: 'Montserrat Alternates', sans-serif;
}
body{
    margin: auto;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
html{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}
.contact-form-error{
    color: red;
    transition: all 900ms ease;
    font-size: 85%;
}
.none{
   display: none;
}
#email , #password{
    margin: 10px;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    text-indent: 20px;
    font-size: 1em;
}
.check{
    margin-right: 10px; 
}
a{
    margin-left: 25px;
    text-decoration: none;
    color: white;
}
button{
    margin-top: 15px;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    border-color: white;
    font-size: 1.5em;
    cursor: pointer;
}
i{
    color: white;
    font-size: 30px;
}
label{
    display: block !important;
    color: white;
    margin: 10px;
    text-align: center;
}
span{
    display: block;
}
.data{
    display: none;
  }
  .g-signin2{
    position: absolute;
    left: 46%;
  }